﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TBL USERS</h1>
</div>

<div>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>user Name</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Userid</td>
                <td>@user.Username</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@user.Userid">edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
</div>